@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Nunito", sans-serif;
	}

	*:focus {
		outline: none;
		@apply ring-2 ring-primary-400/50;
	}
}

@layer components {
	.container {
		@apply mx-auto px-2;
	}

	.prose {
		@apply prose-headings:mb-2 prose-headings:mt-4 prose-headings:font-semibold 
			prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm 
			prose-a:font-medium prose-a:text-primary-500 prose-a:no-underline prose-a:hover:underline prose-a:hover:decoration-primary-500 prose-a:hover:decoration-wavy 
			prose-blockquote:border-slate-400/70 prose-blockquote:text-center prose-blockquote:font-["cursive"]
			[&:has(:where(h1,h2,h3,h4,h5,h6,p,li,span))_code]:bg-white [&:has(:where(h1,h2,h3,h4,h5,h6,p,li,span))_code]:rounded [&:has(:where(h1,h2,h3,h4,h5,h6,p,li,span))_code]:p-1 dark:[&:has(:where(h1,h2,h3,h4,h5,h6,p,li,span))_code]:bg-slate-900
			prose-table:table-auto
			dark:prose-invert  
			[&,_&_*]:!break-words;
	}
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: theme(colors.slate.900);
	-webkit-box-shadow: 0 0 0px 1000px theme(colors.slate.50) inset;
	box-shadow: 0 0 0px 1000px theme(colors.slate.50) inset;
	transition: background-color 5000s ease-in-out 0s;
}
@media (prefers-color-scheme: dark) {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-text-fill-color: theme(colors.slate.50);
		-webkit-box-shadow: 0 0 0px 1000px theme(colors.slate.700) inset;
		box-shadow: 0 0 0px 1000px theme(colors.slate.700) inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}